* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url('a.jpg');
    background-size: cover;
    background-position: center;
}

#logo {
    margin-top: -30px;
    margin-left: -500px;
}

.manu-bar {
    background-color: white;
    text-align: center;
    height: 100px
}

.manu-bar ul {
    display: inline-flex;
    list-style: none;
    color: grey;
}

.manu-bar li {
    width: 120px;
    margin: 15px;
    padding: 15px;
}

.active,
.manu-bar ul li:hover {
    background: green;
    border-radius: 4px;
}

.manu-bar .fa {
    margin-right: 10px;
}

.sub-menu-1 {
    display: none;
}

.manu-bar ul li:hover .sub-menu-1 {
    display: block;
    position: absolute;
    background: lightgreen;
    margin-top: 15px;
    margin-left: -15px;
}

.manu-bar ul li:hover .sub-menu-1 ul {
    display: block;
    margin: 10px;
}

.manu-bar ul li:hover .sub-menu-1 ul li {
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: center;
}

.manu-bar ul li:hover .sub-menu-1 ul li a:hover {
    color: #B2FF00;
}

.manu-bar ul li:hover .sub-menu-1 ul li:last-child {
    border-bottom: none;
}

.sub-menu-2 {
    display: none;
}

.hover-me:hover .sub-menu-2 {
    position: absolute;
    display: block;
    margin-top: -40px;
    margin-left: 140px;
    background: lightgrey;
}

.sub-menu-3 {
    display: none;
}

.hover-me2:hover .sub-menu-3 {
    position: absolute;
    display: block;
    margin-top: -40px;
    margin-left: 140px;
    background: lightpink;
}

.body {
    margin-left: 200px;
    margin-top: 70px;
}